*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.inter-font {
 font-family: "Inter", sans-serif;
 font-optical-sizing: auto;
}

.navbar{
 width: 1600px;
  height: 92px;
  display: flex;
  justify-content: space-between;
   align-items: center;
   padding: 16px 120px 16px 120px;
   border: 1px solid red;
   background-color: #FFFFFF;
   margin: 0 auto;
}

.navbar ul li{
 list-style: none;
 display: inline-block;
 margin: 0 32px;
}

.navbar ul li a{
 text-decoration: none;
 font-size: 16px;
 font-weight: 500;
 color: #000000;
}

.btn{
 padding: 12px 16px;
 border-radius: 4px;
 border: none;
 background: #30B868;
 color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
}

nav .logo{
 width: 139px;
 height: 60px;
}

